  body {
      font-family: "Raleway", serif;
      color: #333;
  }

  .navbar-nav .nav-item {
      margin-right: 15px;
  }

  .navbar-nav .nav-item {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .hero {
      background-color: #f9f4ee;
      padding: 50px 0;
      position: relative;
  }

  .hero h1 {
      font-family: "Raleway", serif;
      font-size: 4rem;
      font-weight: bold;
  }

  .hero p {
      font-size: 1.25rem;
      margin: 20px 0;
  }

  .hero .btn {
      background-color: #000;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      text-transform: uppercase;
  }

  .hero .btn:hover {
      background-color: #333;
  }

  .green-box {
      background-color: #28a745;
      color: #fff;
      padding: 50px;
      margin-top: 20px;
  }

  
  footer {
      padding: 30px 0;
      background-color: #f2f2f2;
      color: #000000;
      border-top: 2px solid rgb(53, 53, 53);
  }

  footer .footer-links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
  }

  footer a {
      color: #242424;
      text-decoration: none;
  }

  footer a:hover {
      text-decoration: underline;
  }


  .green-image {
      display: block;
      max-width: 500px;
      margin: 20px auto;
  }


  