{% extends "base.html" %}
{% block main %}
    <!-- Hero Section -->
    <section class="hero text-center">
        <div class="container">
            <h1>Human stories & ideas</h1>
            <p>A place to read, write, and deepen your understanding</p>
            <a href="{% url 'Login' %}" class="btn" style="border-radius: 50px; padding: 10px; width: 180px;">Start reading</a>
            </div>
    </section>

    <!-- Green Box Section -->
    <div class="green-box text-center">
        <div class="container">
            <p>Your inspiring message or image goes here!</p>
            <img src="/static/images/Blogpostimg1.png" alt="Green box decoration" class="green-image">
        </div>
    </div>
{% endblock main %}
   